body{

    font-size: 18px;
    font-family: sans-serif,serif;
    background-color: #08c3ff;
    overflow: hidden;

}
.logo{
    position: absolute;
}
.logo_top{
    top:-500px;
    left: -300px;
}

.logo_bottom{
    bottom: -500px;
    right:-300px;
    
}
.card{
    position: absolute;
    width: 350px;
    height: 450px;
    background-color: white;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:  auto;
    border-radius:15px;
    overflow: hidden;

}
.card__header{
    position: relative;
}
.card__face{
    position:absolute;
    border-radius: 50%;
    top:90px;
    left:130px;
    outline: px;
    border: 5px solid #fff;
}
.card__body{
    position: absolute;
    margin-top: 65px;
    width: 100%;
    text-align: center;

}
.card__footer{
    position: absolute;
    margin-top: 180px;
    width: 100%;
    text-align: center;
}
.card__date{
    display: inline-block;
    margin: 10px;

}
.card__title, .card__amount{
    font-weight: bold;
}

.card__amount--about, .card__title--modif{
    color: hsl(227, 10%, 46%);
}

